@import url(variables.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}


.header {
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    /* background: darkgoldenrod; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 2;
    top: 0;
    background: var(--color-ternario)
}

.header__logo {
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;

}

.logo__icono {
    /* background: green; */
}

.logo__icono img {
    width: 3em;
}

.logo__titulo {
    /* background: orange; */
    color:  var(--color-primario);;
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}

.header__menu {
    /* background: darkblue; */
}

.header__menu i {
    font-size: 3em;
    color: var(--color-primario);
}


.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    padding: 0 .8em;
    grid-template-areas: 
    "investing"
    "banner"
    "banner"
    "cards"
    "colection"
    "colection"
    "colection"
    "colection"
    "colection";
    grid-gap: 10px;
}
.main__title,
.main__title2{
    /* background: red; */
    grid-area: investing;
    margin-top: 1em;
    font-size: 1.5em;
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Bold";
    color: var(--color-primario);
}
.main__banner{
    /* background: orange; */
    height: 160px;
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__public{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    /* background: red; */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.130);
    grid-template-areas: 
    "logo description";
}
.public__logo{
    /* background: blue; */
    /* border-bottom-right-radius: 100px; */
    /* border-top-right-radius: 100px; */
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.public__logo div{
    position: absolute;
    background: var(--color-secundario);
    opacity: .2;
    z-index: -1;
    right: 3px;
    width: 700px;
    height: 400px;
    border-radius: 100%;
}
.public__logo img{
    width: 100%;
    /* height: 160px; */
    padding: 10px;
    object-fit: contain;
}
.public__description{
    /* background: violet; */
    grid-area: description;
    text-align: center;
}
.public__description p{
    font-family: "SF-Pro-Text-Bold";
    font-size: 1.3em;
    color: var(--color-primario);
    margin-top: 20px;
}
.public__description small{
    display: block;
    font-family: "SF-Pro-Text-Regular";
    font-size: 1em;
    color: var(--color-cuarto);
}
.public__description button{
    border: none;
    margin-top: 8px;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 1em;
    background: var(--color-secundario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: capitalize;
    color: var(--color-ternario);
}
.description__close{
    width: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
.description__close i {
    /* background: red; */
    border-radius: 100%;
    padding: 2px;
    background: var(--color-secundario);
    color: var(--color-ternario);
}
.main__title2{
    grid-area: cards;
}
.main__cards{
    background: green;
    grid-area: colection;
    display: flex;
    gap: 10px;
    padding: 1px;
    flex-direction: row;

    height: 350px;
    overflow-x: scroll;
}
.cards__item {
    flex: 1;
    min-width: 200px;
    background: url(../storage/img/card.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;   
}
.cards__item h2 {
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
}
.cards__item small {
    position:absolute;
    top: 30px;
    right: 4vw;
    color: var(--color-ternario);
    font-family: "SF-pro-text-Semibold";
}
.cards__item img {
    position: absolute;
    width: 35%;
    left: 2vw;
    bottom: 20px;
}




.footer {
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}