@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
    color: var(--color-ternario);
}
body {
    background: var(--color-primario);
}

.banner {
    position: absolute;
}

.banner img {
    width: 100%;
}

.header{
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.header__logo{
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;

}
.logo__icono{
    /* background: green; */
}
.logo__icono img{
    width: 3em;
}
.logo__titulo{
    /* background: orange; */
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}
.header__menu{
    /* background: darkblue; */
}
.header__menu i{
    font-size: 3em;
    color: var(--color-ternario);
}
.main__titulo{
    /*background: #33404f;*/
}
.titulo__card{
    /*background: green;*/
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 0 0.5em
}
.titulo__card h2,
.titulo__card p{
    font-size: 2.3em;
    color: var(--color-ternario);
    text-transform: capitalize;
}
.titulo__card h2{
    font-family: "SF-Pro-Text-Heavy";
}
.titulo__card p{
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}
.titulo__balance{
   /* background: fuchsia ;*/
    display: flex;
    height: 130px;
    justify-content: space-between;
    padding: 0 0.5em;
}
.balance__one,
.balance__two{
    display: flex;
    flex-direction: column;
}
.balance__one,
.balance__two {
    display: flex;
    flex-direction: column;
}
.balance__one small,
.balance__two small {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Medium";
}

.balance__one label,
.balance__two label {
    font-size: 1.3em;
    font-family: "SF-Pro-Text-Bold";
}

.balance__one progress[value] {
    --color: var(--color-secundario);
    --background: var(--color-ternario);
    background: var(--background);
}

.balance__two progress[value] {
    --color: var(--color-cuarto);
    --background: var(--color-ternario);
    background: var(--background);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0 10px;
    height: .5em;
    border-radius: 10em;
}

.balance__one progress[value]::-webkit-progress-bar,
.balance__two progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}

/*/MAIN_BODY/*/
.main_body{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background: var(--color-ternario);
}
.body_activities{
    outline: 1px solid black;
    height: 50%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.body_activities > h3{
    color: var(--color-primario);
    margin-left: 5%;
    font-size: x-large;
}
.activities_options{
    align-self: center;
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.activities_options > div{
    background: var(--color-ternario);
    border-radius: 20px;
    box-shadow: 0px 0px 30px var(--color-cuarto);
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a_account,
.a_privacy,
.a_help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a_account img,
.a_privacy img,
.a_help img{
    width: 70%;
}
.a_account p,
.a_privacy p,
.a_help p{
    color: var(--color-primario);
}


.body_transactions{
    outline: 1px solid black;
    height: 50%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.body_transactions > h3{
    color: var(--color-primario);
    margin-left: 5%;
    font-size: x-large;
    align-self: flex-start;
}
.transactions_one{
    outline: 1px solid black;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.transactions_one > img,
.transactions_two > img{
    width: 15%;
}
.transactions_one_food,
.transactions_two_shopping{
    outline: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}
.food_div_one,
.food_div_two,
.shopping_div_one,
.shopping_div_two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.transactions_two{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.body_transactions p{
    color: var(--color-primario);
}
.body_transactions small{
    color: var(--color-cuarto);
}


.footer{
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
}
.footer ul {
    display: flex;
    justify-content: space-around;
}
.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}