@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}
.header{
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    background: darkgoldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.header__logo{
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;

}
.logo__icono{
    /* background: green; */
}
.logo__icono img{
    width: 3em;
}
.logo__titulo{
    /* background: orange; */
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}
.header__menu{
    /* background: darkblue; */
}
.header__menu i{
    font-size: 3em;
    color: var(--color-ternario);
}
.main__titulo{
    background: red;
}
.titulo__card{
    background: green;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 0 0.5em
}
.titulo__card h2,
.titulo__card p{
    font-size: 2.3em;
    color: var(--color-ternario);
    text-transform: capitalize;
}
.titulo__card h2{
    font-family: "SF-Pro-Text-Heavy";
}
.titulo__card p{
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}
.titulo__balance{
    background: fuchsia;
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}
.balance__one,
.balance__two{
    display: flex;
    flex-direction: column;
}







.footer{
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
}
.footer ul {
    display: flex;
    justify-content: space-around;
}
.footer ul li {
    list-style: none;
}