<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/virtualWallet/css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/logo2.svg">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">
        <article class="balance">
            <div class="balance_circle"></div>
            <div class="balance_total"></div>
        </article>
        <article class="report">
            <article>
                <button>assets</button>
                <button>debt</button>
                <button>income</button>
            </article>
        </section>
        <article class="process"></section>
    </main>


    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>